@import "../App.scss";


.navbar{
    width: 100%;
    padding: 20px;
    @include flexItem(space-between,center,null,null);
    box-sizing: border-box;
    position: sticky;
    top: 0;
    background-color: white;
    .nav-left{
        width: 45%;
        font-weight: 900;
    }

    .nav-right{
        width: 55%;
        @include flexItem(space-between,center,null,null);
        ul{
            width: 80%;
            @include flexItem(space-between,center,null,null);
            li{
                list-style: none;
                cursor: pointer;
                color: gray;
            }
        }

        button{
            border: none;
            padding: 10px 20px;
            background-color: blueviolet;
            font-weight: 700;
            border-radius: 10px;
            color: white;
        }
    }    
}

.menu{
    display: none;
    cursor: pointer;
}

.ham-menu{
    display: none;
    width: fit-content;
    position: absolute;
    height: fit-content;
    top: 50px;
    right: 10px;
    padding: 10px;
    background-color: rgb(203, 203, 203);

    ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 10px;
    }

    li{
        list-style: none;
        padding: 10px;
        cursor: pointer;

        &:hover{
            text-decoration: underline;
        }
    }

    button{
        width: 100%;
        border: none;
        padding: 10px 20px;
        background-color: blueviolet;
        font-weight: 700;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }
} 

@media only screen and (max-width : 480px){
    .navbar{
        .nav-right{
            display: none;
        }
    }

    .menu{
        display: block;
    }

    .ham-menu{
        display: block;
    }
}
@media only screen and (min-width : 480px) and (max-width : 768px){
    .navbar{
        .nav-right{
            display: none;
        }
    }

    .menu{
        display: block;
    }

    .ham-menu{
        display: block;
    }
}